@model ServiceRequestModel
@{
    ViewData["Title"] = "Eliminar Solicitud de Servicio";
}

<h1 class="text-center">¿Seguro que Quieres Eliminar Esta Solicitud de Servicio?</h1>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.ResidentName)</dt>
                <dd>@Html.DisplayFor(model => model.ResidentName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ServiceName)</dt>
                <dd>@Html.DisplayFor(model => model.ServiceName)</dd>

                <dt>@Html.DisplayNameFor(model => model.RequestDate)</dt>
                <dd>@Html.DisplayFor(model => model.RequestDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.Status)</dt>
                <dd>
                    @if (Model.Status)
                    {
                        <span style="color: green;">Completado</span>
                    }
                    else
                    {
                        <span style="color: red;">Pendiente</span>
                    }
                </dd>

            </dl>
            <form asp-action="Delete" class="mt-3">
                <input type="submit" value="Eliminar" class="btn btn-danger" />

                <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
            </form>
        </div>
    </div>
</div>
