<<<<<<< HEAD
﻿@model IEnumerable<MunicipalServiceModel>
@{
    ViewData["Title"] = "Listado de Servicios Municipales";

    // variable para guardar el mensaje que viene de los metodos crear, editar, eliminar
    var successMessage = TempData["SuccessMessage"] as string;
}

<h1 class="text-center">Listado de Servicios Municipales</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mt-3 mb-3">
                <a asp-action="Create" asp-controller="MunicipalService" class="btn btn-success">Agregar Servicio Municipal <i class="bi bi-file-earmark-plus"></i></a>
            </div>

            <!-- alerta que se mostrara al crear,editar o eliminar un registro -->
            @if (!string.IsNullOrWhiteSpace(successMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Html.DisplayFor(x => successMessage)</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <table class="table table-bordered table-striped table-responsive mt-3" id="municipalServicesTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Servicio</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var municipalService in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => municipalService.Id)</td>
                            <td>@Html.DisplayFor(item => municipalService.ServiceName)</td>
                            <td>@Html.DisplayFor(item => municipalService.Description)</td>
                            <td>@Html.DisplayFor(item => municipalService.Cost)</td>
                            <td>
                                <a asp-controller="MunicipalService" asp-action="Edit" asp-route-id="@municipalService.Id"
                                   class="btn btn-warning">Editar <i class="bi bi-pencil-fill"></i></a>

                                <a asp-controller="MunicipalService" asp-action="Delete" asp-route-id="@municipalService.Id"
                                   class="btn btn-danger">Eliminar <i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#municipalServicesTable").DataTable({
                dom: "Bfrtip",
                buttons: [
                    {
                        extend: 'csv',
                        className: 'bg-info border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdf',
                        className: 'bg-danger border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3]
                        }
                    },
                    {
                        extend: 'excel',
                        className: 'bg-success border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3]
                        }
                    }
                ],
                columnDefs: [
                    {
                        target: 4,
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
                }
            })
        })
    </script>
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
>>>>>>> d128b33e7bbc75fc55fdc6fee633c06c15ebf477
}
